.container {
    display: grid;
    justify-content: center;   
}

img{
    border: 2px solid black;
    border-radius: 0.2rem;
    opacity: 0.4;
    transition: 0.3s ease-in-out;
}

img:hover{
    border: 2px solid black;
    border-radius: 0.2rem;
    opacity: 1;
}

button{
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover{
    background-color: green;
}